// =========================
// Variables
// =========================

$primary: #0346C9;
$secondary: #FF956E;
$gray: #F6F7F6;
$black: #000000;
$white: #FFFFFF;

// =========================
// Global
// =========================

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: $white;
  color: $black;
  font-family: var(--font-merriweather-sans), sans-serif;
}

// =========================
// Layout
// =========================

.page-container {
  margin: 0 auto;
  padding-top: 84px;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: $gray;

  @media (max-width: 480px) {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
}

// =========================
// Typographie
// =========================

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-open-sans), sans-serif;
}

// =========================
// Links
// =========================

a {
  color: inherit;
  text-decoration: none;
}


// =========================
// Buttons
// =========================

button {
  &.primary {
    background-color: $primary;
    color: $white;
  }

  &.secondary {
    background-color: $secondary;
    color: $white;
  }
}