# Backend
DATABASE_URL=postgres://user:password@localhost:5432/ramenetapoire
PORT=5001
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=12h

# Email verification
BACKEND_URL=http://localhost:5001
FRONTEND_URL=http://localhost:3000
BREVO_SMTP_USER=your_brevo_smtp_user
BREVO_SMTP_KEY=your_brevo_smtp_key
MAIL_FROM=no-reply@ramenetapoiree.com

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587

# Tester en local (MailHog)
# SMTP_HOST=localhost
# SMTP_PORT=1025
